---
import Hero from "@/components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex justify-center m-6 w-full">
    <div class="max-w-7xl flex flex-col justify-center w-full">
      <div class="flex flex-col items-center justify-center w-full h-96 mt-12">
        <div></div>
        <h1 class="text-5xl sm:text-7xl md:text-8xl xl:text-9xl font-semibold text-center animate-slide-in">
          Ibai Zorrilla
        </h1>
      </div>

      <div class="h-80">k</div>
    </div>
  </main>
</Layout>
